### Java ###
*.class
*.log
*.ctxt

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Трекать wrapper-скрипты
gradlew
gradlew.bat

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### VS Code ###
.vscode/

### Eclipse ###
.project
.classpath
.settings/
bin/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### OS files ###
.DS_Store
Thumbs.db

### Logs / temp ###
*.tmp
*.temp
*.swp

### Additional for Java apps ###
/*.db
/*.csv
*.sqlite
runtime/
